.bitcoinhome_row1 {
  margin-top: 10rem;
  /* margin-bottom: 8rem; */
}

.bitcoinimg {
  width: 75%;
}

.blockchainhome_imgdiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 430px) {
  .bitcoinimg {
    display: none;
  }

  .blockchain_img_mob {
    display: block !important;
    width: 280px;
    /* margin-top: 1.6rem !important; */
    margin-bottom: 1.8rem !important;
    margin: auto;
  }
}
