.nav-item {
  color: rgb(228, 222, 222);
  text-decoration: none !important;
  margin-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 20px;
}

.navbarlinks {
  text-decoration: none;
}

.nb {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: rgb(228, 222, 222);
}

.profileimage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}
